Repository wagner-austin/crowsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, htmlhint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix
  pass_filenames: true

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  args:
  - --fix
  pass_filenames: true

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write
  pass_filenames: true

htmlhint:
  name: HTMLHint
  entry: npx htmlhint
  language: system
  pass_filenames: true

Add Poe theme parallax mouse tracking module
  src/js/modules/poe-parallax.js
Due: eslint, prettier

Add scene zoom animation controller module
  src/js/modules/scene-animations.js
Due: eslint, prettier

Add Poe theme zoom animation styles
  src/styles/themes/poe-animations.css
Due: stylelint, prettier

Add Poe theme main layout and structure styles
  src/styles/themes/poe.css
Due: stylelint, prettier

Refactor main.css to support Poe theme architecture
  src/styles/main.css
Due: stylelint, prettier

Restructure HTML for Poe theme with parallax layers
  index.html
Due: prettier, htmlhint

Integrate Poe theme modules into main application
  src/js/main.js
Due: eslint, prettier

Update package.json for new minimalist theme
  package.json
Due: prettier

Add Poe theme initialization module
  src/js/modules/theme-poe.js
Due: eslint, prettier

Add Poe decorative elements module
  src/js/modules/poe-decor.js
Due: eslint, prettier

Add Poe theme color system and variables
  src/styles/themes/poe-theme-system.css
Due: stylelint, prettier

Add Poe theme image assets
  assets/poe/README.md
  assets/poe/backgrounds/country_town_run_down_3x2.png
  assets/poe/backgrounds/rustin_abandoned_town_3x2.png
  assets/poe/crow/crow_eating_2x3.png
  assets/poe/crow/crow_eating_two_2x3.png
  assets/poe/crow/crow_flying_from_a_distance_2x3.png
  assets/poe/crow/crow_in_flight_2x3.png
  assets/poe/crow/crow_landing_2x3.png
  assets/poe/crow/crow_standing_cawing_2x3.png
  assets/poe/crow/crow_standing_looking_2x3.png
  assets/poe/crow/crow_taking_off_initial_2x3.png
  assets/poe/feathers/feather_one_2x3.png
  assets/poe/foreground/Broken_down_shack_silhouette_1x1.png
  assets/poe/foreground/Broken_down_shack_silhouette_two_1x1.png
  assets/poe/foreground/left_of_sun_standalone_cloud_1x1.png
  assets/poe/foreground/left_side_old_gnarled_tree_close_up_1x1.png
  assets/poe/foreground/right_of_sun_standalone_cloud_3x2.png
  assets/poe/foreground/right_side_old_gnarled_tree_2x3.png
  assets/poe/foreground/right_side_old_gnarled_tree_close_up_1x1.png
  assets/poe/foreground/standalone_broken_down_fence_post_3x2.png
  assets/poe/foreground/standalone_gnarly_bush_1x1.png
  assets/poe/foreground/standalone_old_gnarled_tree2_2x3.png
  assets/poe/foreground/standalone_old_gnarled_tree_1x1.png
  assets/poe/foreground/standalone_sun_1x1.png
  assets/poe/foreground/standalone_sun_four_1x1.png
  assets/poe/foreground/standalone_sun_three_1x1.png
  assets/poe/foreground/standalone_sun_two_1x1.png
Due: prettier

Add base styles for fundamental layout
  src/styles/base/base.css
Due: stylelint, prettier

Remove legacy cyberpunk/synthwave theme files
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/components/forms.css
  src/styles/components/hero.css
  src/styles/components/nav.css
  src/styles/components/terminal.css
  src/styles/layouts/sections.css
  src/styles/themes/cyberpunk.css
  src/styles/themes/synthwave.css
Due: stylelint, prettier

Remove terminal and audio modules
  src/js/modules/audio.js
  src/js/modules/terminal.js
Due: eslint, prettier

Update ThemeManager for Poe theme system
  src/js/modules/theme.js
Due: eslint, prettier

Minor code formatting fixes in animations module
  src/js/modules/animations.js
Due: eslint, prettier

Remove retro effects from ImageManager
  src/js/modules/images.js
Due: eslint, prettier

Clean up CSS variables for Poe theme
  src/styles/base/variables.css
Due: stylelint, prettier

Update configuration defaults for Poe theme
  src/js/core/config.js
Due: eslint, prettier

Update constants for Poe theme
  src/js/core/constants.js
Due: eslint, prettier

Update error handler for post-terminal architecture
  src/js/core/errorHandler.js
Due: eslint, prettier

Redesign 404 page for minimalist Poe theme
  404.html
Due: prettier, htmlhint

Update CNAME for corvis.ai/crows domain
  CNAME
Due: none

Add future enhancement roadmap for Poe theme
  TODO_FUTURE.md
Due: prettier

Fix sun element position during zoom animation and adjust timing
  src/styles/themes/poe-animations.css
Due: stylelint, prettier

Add parallax dead zone and enable movement when zoomed in
  src/js/modules/poe-parallax.js
  src/styles/themes/poe-animations.css
Due: eslint, stylelint, prettier

Refactor animation system to use simplified 2-state model
  src/styles/themes/poe-animations.css
Due: stylelint, prettier

Update scene animations to use new 2-state animation system
  src/js/modules/scene-animations.js
Due: eslint, prettier

Update parallax module for new animation states and forced motion
  src/js/modules/poe-parallax.js
Due: eslint, prettier

Update poe.css reduced motion handling for new animation system
  src/styles/themes/poe.css
Due: stylelint, prettier

Remove reduced motion checks from decorative animations
  src/js/modules/poe-decor.js
Due: eslint, prettier

Force desktop viewport on mobile devices
  index.html
Due: prettier, htmlhint

Apply code formatting and linting fixes
  index.html
  src/js/modules/images.js
  src/js/modules/poe-decor.js
  src/js/modules/poe-parallax.js
  src/js/modules/scene-animations.js
  src/styles/themes/poe-animations.css
  src/styles/themes/poe-theme-system.css
  src/styles/themes/poe.css
Due: eslint, stylelint, prettier, htmlhint

vertical branches added for mobile layout
  assets/poe/foreground/left_side_old_gnarled_tree_close_up_2x3.png
  assets/poe/foreground/right_side_old_gnarled_tree_close_up_2x3.png
Due: none

Add debug target to Makefile for development diagnostics
  Makefile
Due: none

Improve parallax debug logging and add mobile tilt support
  src/js/modules/poe-parallax.js
Due: eslint, prettier

Remove legacy terminal theme image references from config
  config/images.json
Due: prettier

Add adaptive image loading module for responsive design
  src/js/modules/adaptive-images.js
Due: eslint, prettier

Add responsive CSS module for Poe theme mobile optimization
  src/styles/themes/poe-responsive.css
Due: stylelint, prettier

Path conditions:
  eslint: any of: \.(js|jsx)$
  stylelint: any of: \.css$
  prettier: any of: \.(js|jsx|css|html|json|md|yml|yaml)$
  htmlhint: any of: \.html$
