Repository wagner-austin/crowsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, htmlhint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.9

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203"]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx)$
        args: ["--fix"]
        pass_filenames: true

      - id: stylelint
        name: Stylelint
        entry: npx stylelint
        language: system
        files: \.css$
        args: ["--fix"]
        pass_filenames: true

      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|css|html|json|md|yml|yaml)$
        args: ["--write"]
        pass_filenames: true

      - id: htmlhint
        name: HTMLHint
        entry: npx htmlhint
        language: system
        files: \.html$
        pass_filenames: true

Add comprehensive Poe theme documentation
  docs/POE-THEME.md
Due: prettier

Fix background image filename typo
  assets/poe/backgrounds/rustic_abandoned_town_3x2.png
Due: none

Update index.html with responsive viewport and adaptive images
  index.html
Due: prettier, htmlhint

Add comprehensive documentation and adaptive images to main.js
  src/js/main.js
Due: eslint, prettier

Fix crow mobile positioning and add comprehensive documentation
  src/js/modules/poe-decor.js
Due: eslint, prettier

Add zoom animation module for interactive scene exploration
  src/js/modules/scene-animations.js
Due: eslint, prettier

Update theme manager to support Poe theme variants
  src/js/modules/theme.js
Due: eslint, prettier

Update CSS variables for Poe theme compatibility
  src/styles/base/variables.css
Due: stylelint, prettier

Add responsive image styles and loading states
  src/styles/components/images.css
Due: stylelint, prettier

Import Poe responsive styles in main CSS bundle
  src/styles/main.css
Due: stylelint, prettier

Optimize Poe theme CSS for mobile and cross-device compatibility
  src/styles/themes/poe.css
Due: stylelint, prettier

Update README for Poe theme edition
  README.md
Due: prettier

Update development documentation for current project state
  DEVELOPMENT.md
Due: prettier

Update quickstart guide for Poe theme setup
  QUICKSTART.md
Due: prettier

Apply linter formatting and final cleanup
  config/images.json
  docs/POE-THEME.md
  src/js/modules/adaptive-images.js
  src/js/modules/poe-parallax.js
  src/styles/themes/poe-responsive.css
Due: eslint, stylelint, prettier

Add SSL certificates to gitignore
  .gitignore
Due: none

Add HTTPS development server script for mobile testing
  package.json
Due: prettier

Update Makefile to use Python HTTPS server for clean shutdown
  Makefile
Due: none

Add Python HTTPS server script with graceful shutdown
  scripts/https_server.py
Due: none

Add mobile debug panel for parallax troubleshooting
  src/js/modules/mobile-debug.js
Due: eslint, prettier

Fix mobile parallax and tilt support with ES2018 compatibility
  src/js/modules/poe-parallax.js
Due: eslint, prettier

Improve click detection for zoom triggers behind elements
  src/js/modules/scene-animations.js
Due: eslint, prettier

Unify transform syntax to translate3d for consistency
  src/styles/themes/poe-animations.css
Due: stylelint, prettier

Improve mobile responsive layout for portrait and landscape
  src/styles/themes/poe-responsive.css
Due: stylelint, prettier

Update CNAME for GitHub Pages subdomain deployment to crows.corvis.ai
  CNAME
Due: none

Fix GitHub Actions workflow - update to non-deprecated action versions
  .github/workflows/deploy.yml
Due: prettier

Enhance mobile debug panel with tabbed interface and comprehensive diagnostics
  src/js/modules/mobile-debug.js
Due: eslint, prettier

Fix tree positioning and parallax layer constraints for proper mobile display
  src/styles/themes/poe.css
Due: stylelint, prettier

Implement responsive tree sizing with device-specific horizontal offsets
  src/styles/themes/poe-responsive.css
Due: stylelint, prettier

Switch all tree images to 2x3 aspect ratio for better vertical coverage
  index.html
Due: prettier, htmlhint

Clean up animation styles and remove unused transform properties
  src/styles/themes/poe-animations.css
Due: stylelint, prettier

Add comprehensive Logs tab to mobile debug panel with filtering modes
  src/js/modules/mobile-debug.js
Due: eslint, prettier

Update stylelint configuration with more flexible at-rule and selector patterns
  .stylelintrc.json
Due: prettier

Add Prettier integration and file-specific ESLint rule overrides
  eslint.config.js
Due: eslint, prettier

Refactor adaptive image system from JSON to individual data attributes for improved performance and maintainability
  index.html
Due: prettier, htmlhint

Update eslint-config-prettier from v9.1.2 to v10.1.8 for ESLint 9+ compatibility
  package-lock.json
Due: prettier

Update eslint-config-prettier dependency to v10.1.8 in package.json
  package.json
Due: prettier

Refactor asyncWrapper.js for improved code organization and error handling
  src/js/core/asyncWrapper.js
Due: eslint, prettier

Enhance async function detection in compatibility checker
  src/js/core/compatibility.js
Due: eslint, prettier

Add ESLint inline disable comments for legitimate console usage in debugger module
  src/js/core/debugger.js
Due: eslint, prettier
